<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Images:</strong>
  <%= @order.images %>
</p>

<%= form_tag("/orders/#{@order.id}/list", :method => :put) do %>
<p>
	<strong>List</strong>
	: num(<%= @order.images.length %>)
	<% @order.images.each do |image| %>
		<ul>
			<li>
				<%= check_box_tag 'selectfiles[]', image.file.identifier %>
				<%= image.file.identifier %>
			</li>
			<li><%= image.current_path %></li>
			<li><%= image.url %></li>
			<li><%= image_path_of(image, 'modified') %></li>
			<li><%= image_tag(image_path_of(image, 'modified')) %></li>
			<% if false %>
				<li><%= image.size %></li>
				<li><%= image.length %></li>
				<li><%= image.identifier %></li>
				<li><%= image.class %></li>
				<li><%= image.methods %></li>
			<% end %>
		</ul>
	<% end %>
</p>
<%= submit_tag "Save" %>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
